* {
  padding: 0;
  margin: 0;
  border: 0;
}

p{
  font-size: 30px;
  text-indent: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-right: 100px;
  margin-left: 100px;
}

h1 {
  font-size: 63px;
  margin-bottom: 34px;
}

h2 {
  font-size: 49px;
  margin-bottom: 34px;
}

h3 {
  font-size: 34px;
}

.banner {
  background: url(/WebImage/cats.jpg) no-repeat center 55px/cover;
  height: 560px;
}

.container {
  width: 2030px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.navbar img {
  width: 30px;
  padding-left: 30px;
  float: left;
}

.navbar {
  width: 2030px;
  padding-top: 14px;
  padding-bottom: 10px;
  position: absolute;
  top: 0px;
}

nav {
  float: right;
  margin-top: 5px;
}

nav li {
  display: inline-block;
  margin-right: 50px;
}

nav a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  margin-right: 14px;
}

nav li:last-child {
  margin-right: 50px;
}

header {
  position: absolute;
  top: 50px;
  margin: 100px 110px;
  text-align: left;
  color: white;
  /* background-color: rgba(18, 170, 66, 0.3); */
}

.text{
  /*настроено в <p>*/
}

.block img{
  width: 80px;
}

/*flex элементы*/
.block{
  text-align:center;
}

.block_row{
  /* display: inline-flex; */
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  flex-wrap: nowrap; 


  /*Для адаптации нужно будет ставить wrap. 
  Тем самым элементы будут выстраиваться в соответствие с экраном*/

  /* border: 5px solid #ece89d; */
  margin: 0px 40px 0px 40px;
}

.block_column{
  /* border:4px solid #5e5373; */
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); */
  background-color: rgba(141, 141, 141, 0.24);
  border-radius: 35px;
  flex-basis: 10px;
}

.block_item{
  /* background-color: #18b5a4; */
  padding: 5px;
  margin: 0px 50px 0px 50px;
  font-size: 22px;
  color: 0;
}

/*Конец flex элементов*/

/*section2*/

.section_header{
  /* background-color: rgba(0, 0, 0, 0.3); */
  margin-top: 40px;
  margin-bottom: 40px;
  color: #252020;
  
  /* margin: 100px 110px; */
}

/*Заголовки*/
.section_title{
  margin-left: 65px;
}
.section_subtitle{
  margin-top: -15px;
  margin-left: 115px;
}

.section_header p{
  /* background-color: firebrick; */
  /* margin-bottom: 50px; */
}

.btn{
  display: flex;
  justify-content: center;

  text-align: center;
  text-decoration: none;
  color: #ffffff;
  font-size: 40px;

  background-color: #414bb2;
  border-radius: 10px;

  margin-left: 90px;
  margin-right: 90px;
  margin-top: -20px;
  margin-bottom: 25px;
  padding: 10px;
}

.btn:hover{
  background-color: #2b36ad;
  color: #ffffff;
}

.question{
  margin-left: 0;
  margin-top: 5px;
  margin-bottom: 0px;
}

.answer{
  margin-left: 0;
  margin-bottom: 0;
}

/* .learn_more_text{
  width: 1400px;
  background-color: #252020;
} */

/*flex контейнер для текста слева от "Узнать подробнее" и для самой кнопки*/
.learn_more_container{
  flex-direction:row;
  display: flex;
  /* border: 5px solid #ece89d; */
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items:center; 
  /*Для адаптации нужно будет ставить wrap. 
  Тем самым элементы будут выстраиваться в соответствие с экраном*/
  margin: 0px 80px 0px 80px;
}

.learn_more_column{
  /* border: 10px solid #5e5373; */
  /* border:4px solid #5e5373; */
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); */
  /* background-color: rgba(141, 141, 141, 0.24); */
  /* border-radius: 35px; */
  
}

/*изменяю позицию элемента*/
.learn_more_flex_elem .btn{
  /* font-size: 4px; */
  margin-top: 10px;
  margin-bottom: 10px;
  /* margin-right: ; */

}

.learn_more_flex_elem{
  /* background-color: #18b5a4; */
  padding: 1px;
  margin: 0px 10px 0px 10px;
  font-size: 22px;
  color: 0;
}

/*С видео лучше разбираться с нуля самому*/
.video_container{
}

.video{
  margin: 60px;
  text-align:center;
}

.video_item{
  width: 400px; 
  /*Размеры не знаю как менять */
}

.many_reviews p{
  margin-bottom: 300px;
}

/*support*/
.support_headers .section_subtitle{
  margin-bottom: 20px;
}

.support_headers p{
  text-align: end;
  margin-right: 400px;
  margin-bottom: 30px;
}


/*flex элементы support*/
.support .block{
  text-align:end;
  /* background-color: #252020; */
}

.support .block_row{
  display: inline-flex;
  width: 1200px;
  margin-top: -20px;
  text-align: center;
  /* border: 5px solid #ece89d; */
  margin-bottom: 25px;
  /* height: 250px; */
  /* display: flex; */
  /* justify-content: space-around; */
  /* align-items: center; */
  /* flex-wrap: nowrap;  */
 
  /*Для адаптации нужно будет ставить wrap. 
  Тем самым элементы будут выстраиваться в соответствие с экраном*/

  /* margin: 0px 40px 0px 40px; */ 
}

.support .block_column{
  /* border:4px solid #5e5373; */
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); */
  /* background-color: rgba(141, 141, 141, 0.24); */
  /* border-radius: 35px;
  flex-basis: 10px; */
}

.support .block_item{
  /* background-color: #18b5a4; */
  /* padding: 5px; */
  /* margin: 0px 50px 0px 50px; */
  /* font-size: 22px; */
  /* color: 0; */
}
/*Конец flex элементов*/

.charity_button{
  width: 500px;
}

.charity_button .btn{
  /* display: flex; */
  /* justify-content: center; */

  /* text-align: center; */
  /* text-decoration: none; */
  /* color: #ffffff; */
  /* font-size: 40px; */

  /* background-color: #414bb2; */
  /* border-radius: 10px; */

  margin-left: 200px;
  margin-right: -50px;
  margin-top: -220px;
  margin-bottom: 200px;
  padding: 40px;
}

.mail{
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: 20px;
}

.social_media img{
  width: 60px;
}

.firs_a{
  margin-left: 200px;
}

.sec_a{
  margin-left: 20px;
}